@media (max-width: 768px) {
  #main-header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: 130px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-header .navbar a {
    padding: 0 5px;
  }
  .content {
    text-align: center;
    position: relative;
    top: 50px;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-grid .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-grid .column {
    max-width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .cases .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cases .row .column {
    max-width: 100%;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .team .flex img {
    width: 75%;
  }
  #section-header {
    text-align: center;
  }
  .flex-columns .column-2 h2 {
    padding: 20px;
    text-align: center;
  }
  #main-header-blog .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: 130px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-header-blog .navbar a {
    padding: 0 5px;
  }
  #main-header-blog .blog-title {
    font-size: 30px;
    position: relative;
    top: -20px;
  }
}

.btn-bg {
  background-color: #28a745;
  color: white;
}

.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.btn:hover {
  opacity: 0.8;
}

.btn-dark:hover {
  opacity: 0.8;
}

.btn-light:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: #0284d0;
  color: white;
}

.btn-dark {
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 0.75em 1.5em;
  margin: 10px 0;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.btn-light {
  background-color: lightgrey;
  color: #333;
  border-radius: 10px;
  padding: 0.75em 1.5em;
  margin: 10px 0;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.flex-columns .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.flex-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-columns .column-1, .column-2 {
  height: 100%;
}

.bg-primary {
  background-color: #28a745;
  color: #fff;
}

.flex-columns .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-outline {
  border: 1px solid #fff;
}

#cases img:hover {
  opacity: 0.7;
}

#section-header {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-header h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0;
}

.flex-columns .flex-reverse {
  -webkit-box-ordinal-group: row-reverse;
      -ms-flex-order: row-reverse;
          order: row-reverse;
}

.flex-grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4px;
}

.section-padding {
  padding: 40px 20px;
}

.flex-grid .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 4px;
}

.footer .fab {
  border-radius: 50%;
  padding: 20px;
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.bg-dark {
  background-color: #333;
  color: white;
}

.bg-light {
  color: #333;
  background-color: white;
}

.footer .fab:hover {
  background-color: #28a745;
}

.flex-reverse .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer-margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  align-items: center;
  margin: 0;
}

.footer-margin .fab {
  border-radius: 50%;
  padding: 20px;
  font-size: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.footer-margin .fab:hover {
  background-color: #28a745;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1, h2 {
  font-weight: 100;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 10px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a:hover {
  border-bottom: 3px solid #28a745;
}

.navbar .logo {
  font-weight: 400;
}

#main-header {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 20px;
}

.content h1 {
  font-size: 55px;
}

.content p {
  font-size: 20px;
  max-width: 600px;
  margin: 20px;
}

.btn {
  background-color: #28a745;
  border-radius: 10px;
  padding: 0.75em 1.5em;
  margin: 10px 0;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

#main-header * {
  z-index: 10;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons {
  padding: 20px;
  margin-top: 10px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
}

.flex > div {
  padding: 10px;
}

.column .column-2 h1 {
  padding-bottom: 20px;
}

.column .column-2 p {
  margin: 20px 0;
}

#team .flex img {
  border-radius: 50%;
  padding: 20px;
}

#contact .column-2 h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

#contacts {
  background-color: #cfcfcf;
}

.callback-form {
  width: 100%;
}

.callback-form label {
  display: none;
}

.callback-form .form-control input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: 1px solid lightgrey;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form .btn {
  padding: 15px 0;
  width: 100%;
  background-color: #28a745;
  color: white;
  font-size: 15px;
}

#contacts input:focus {
  outline: none;
  border: 1px solid #28a745;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  align-items: center;
  margin-top: 20px;
}

#main-header-blog {
  background: url("../img/blog4.jpg") no-repeat center center/cover;
  height: 30vh;
  position: relative;
}

#main-header-blog .blog-title {
  margin-top: 50px;
  color: #fff;
  z-index: 4;
}

#main-header-blog::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #ccc solid;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 30px auto 30px;
}

.required::before {
  content: '*';
  color: #333;
  padding-left: 2px;
}
/*# sourceMappingURL=style.css.map */